<div class="container">
  <h1><%= t('key_point.index')%></h1>
  <p>お気に入り登録したキーポイントが、マイページに表示されます</p>

  <%= link_to t('key_point.new'), new_key_point_path %>
  <table class="table table-striped responsive-table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>作成日</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @key_points.each do |key_point| %>
        <tr>
          <td><%= key_point.title %></td>
          <td><%= key_point.created_at.strftime("%Y-%m-%d") %></td>
          <td class="d-flex align-items-center">
            <%= link_to '編集', edit_key_point_path(key_point), class: 'btn btn-warning ms-2' %>
            <%= form_with url: key_point_path(key_point), method: :delete do %>
              <%= submit_tag '削除', class: 'btn btn-danger ms-2' %>
            <% end %>
            <% if current_user.favorited_key_points.include?(key_point) %>
              <%= form_with url: key_point_favorite_path(key_point), method: :delete, local: true do |f| %>
                <button type="submit" class="btn"><i class="fas fa-star"></i></button>
              <% end %>
            <% else %>
              <%= form_with url: key_point_favorite_path(key_point), method: :post, local: true do |f| %>
                <button type="submit" class="btn"><i class="far fa-star"></i></button>
              <% end %>
            <% end %>          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
