<!DOCTYPE html>
<html>
  <head>
    <title>GolfBeginner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
      <%= render 'shared/sidebar' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <div class="container flex-grow-1">
      <%= yield %> <!-- 各ページのコンテンツがここに表示される -->
    </div>

    <%= render 'shared/footer' %> 
  </body>

</html>
